version: '3.9'

networks:
  proxy:
    driver: bridge
    external: true

services:
  patent_portfolio_processor:
    image: registry.erhardt.net/streamlit-patent-landscaping
    restart: unless-stopped
    networks:
      - proxy
    environment:
      MAX_WORKERS: 1
      DB_DATABASE: ${DB_DATABASE}
      DB_HOST: ${DB_HOST}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.patent-landscaping.service=patent-landscaping"
      - "traefik.http.routers.patent-landscaping.tls=true"
      - "traefik.http.services.patent-landscaping.loadbalancer.server.port=8501"
      - "traefik.http.routers.patent-landscaping.rule=Host(`patent-landscaping.erhardt.net`)"